.bg-image {
    background-image: url(https://uploads.disquscdn.com/images/e62fa87d6d95af7ec1d639571cea8f38dcafbdfec7054c3fc2825a24c4f28495.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.margin-top {
    margin-top: 30vh;
}